.header {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: calc(var(--default-padding) * 2);
    background-color: var(--color-white);
}

.navigation__list {
    display: flex;
    gap: var(--default-padding);
    color: var(--font-light);
}

.auth {
    display: flex;
}

.burger-menu__checkbox {
    display: none;
}