@mixin styleFont($weight, $size, $lineHeight, $light:true) {
    font-weight: $weight;
    font-size: $size;
    line-height: $lineHeight;
    @if $light{
      color: var(--font-light);
    } @else {
      color: var(--color-very-dark-blue);
    }
    

  }