.statistics{
    display: flex;
    width: 114rem;
    border-radius: 1rem;
    padding: 2.5rem 5rem;
    margin: 0 auto;
    box-shadow: 28px 27px 75px -13px rgba(13, 16, 37, 0.1)
}


.statistic {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--default-padding);
    padding:  calc(var(--default-padding) *3);
    height: 12.6rem;
    flex: 1;
}

.statistic:nth-child(2) {
    border-left: 2px solid var(--default-borders);
    border-right: 2px solid var(--default-borders);
}


.statistic__title {
    color: var(--font-light);
    font-weight: 400;
    font-size: 2rem;
    line-height: 3rem;
}


