@import "./mixins";

.testimonials {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: calc(var(--default-padding) * 2);
    align-items: center;

    &__heading {
        @include styleFont(500, 3.5rem, 5rem, false);
        width: 38.3rem;
        margin: var(--default-padding) auto;
        
    }

    &__description {
        width: 55.5rem;
        margin: var(--default-padding) auto;
        @include styleFont(400, 1.6rem, 3rem);
        &__bold {
            @include styleFont(500, 1.6rem, 3rem);
        }
    }

    &__customers {
        &__heading {
            @include styleFont(500, 3.5rem, 5rem, false);
            width: 44.8rem;
            margin: var(--default-padding) auto;

            &__description{ 
                width: 55.5rem;
                margin: var(--default-padding) auto;
                @include styleFont(400, 1.6rem, 3rem);
            }
        }
    }
}

.customers {
    display: flex;
    gap: calc(var(--default-padding));
    // justify-content: ;
    // flex-wrap: nowrap;
    width: 110rem;
}

.customer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: calc(var(--default-padding) /2);
    width: 36rem;
    height: 24rem;
    justify-items: end;
    align-content: start;
    padding: var(--default-padding);
    border-radius: 1rem;

   

    &__info {
        display: flex;
        align-items: center;
        gap: var(--default-padding);

        &__name {
            @include styleFont(500, 1.8rem, 2rem, false);
            width: 14.3rem;
            text-align: left
        }

        &__address {
            @include styleFont(400, 1.4rem, 2rem);
            width: 12.7rem;
            text-align: left;
            
        }
    }

    &__rating {
        display: flex;
        align-items: center;
        gap: calc(var(--default-padding) / 2);
    }

    &__comment {
        grid-column: 1/-1;

        .comment {
            @include styleFont(400, 1.6rem, 3rem, false);
            width: 31rem;
            text-align: left;
        }
    }
}

.customer-one {
    border: 2px solid var(--customer-border-one);
}

.customer-two {
    border: 2px solid var(--customer-border-two);
}

.customer-three {
    border: 2px solid var(--customer-border-three);
}

.slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__left {
        display: flex;
        margin-top: var(--default-padding);
    
    }

    &__right {
        
        transform: translateY(1.5rem);
    }


}




.radio {
    display: none;
}

.label {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: var(--radio-colors);
    cursor: pointer;
}

.label:not(:first-child){
    margin-left: calc(var(--default-padding) / 2);
}

.input-one:checked + .label-one,
.input-two:checked + .label-two,
.input-three:checked + .label-three { 
    width: 4.5rem;
    background-color: var(--color-orange);
    border-radius: 1rem;
}

html:has(.input-one:checked) {
    --customer-border-one: var(--color-orange);
    --customer-border-two: var(--border-gray);
    --customer-border-three: var(--border-gray)
}

html:has(.input-two:checked){
    --customer-border-one: var(--border-gray);
    --customer-border-two: var(--color-orange)
    --customer-border-three: var(--border-gray);
}

html:has(.input-three:checked){
    --customer-border-one: var(--border-gray);
    --customer-border-two: var(--border-gray);
    --customer-border-three: var(--color-orange)

}


.subscribe {
    width: 110rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-white);
    margin: 0 auto;
    padding: calc(var(--default-padding) * 2);
    transform: translateY(calc(var(--default-padding) ));
    border-radius: calc(var(--default-padding) / 2);
    z-index: 1;

    &__headings {
        &__bold {
            @include styleFont(500, 3.5rem, 4.5rem, false);
            width: 37.2rem            ;
        }
        &__light {
            @include styleFont(400, 1.6rem, 3rem);
            width: 37.2rem;
        }
    }
    
}