:root {
    --color-gray: #fbfbfb;
    --color-white: #fff;
    --color-orange: #F53838;
    --button-border: #F53855;
    --color-very-dark-blue: #0B132A;
    --font-light: #4F5665;
    --container-width: 125rem;
    --gutter: 2rem;
    --default-padding: 2rem;
    --default-borders: #eeeff2;
    --pricing-borders: #DDDDDD

} 
