:root {
    --color-gray: #fbfbfb;
    --color-white: #fff;
    --color-orange: #F53838;
    --button-border: #F53855;
    --color-very-dark-blue: #0B132A;
    --font-light: #4F5665;
    --container-width: 125rem;
    --gutter: 2rem;
    --default-padding: 2rem;
    --default-borders: #eeeff2;
    --border-gray: #DDDDDD;
    --customer-border-one:#DDDDDD;
    --customer-border-two: #DDDDDD;
    --customer-border-three: #DDDDDD;
    --radio-colors: #DDE0E4;
    --second-background: #f1f1f2;
    --color-text: #000;
    --transition-timing: 0.3s;

} 
